.headerContainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;

}

.headerButtonContainer{
	display: flex;
	gap: 1rem;
	align-items: center;
}

.headerLogo{
	width: 200px;
	height: 50px;
}

.headerButton{
	background-color: #21c0e8;
	color: #fff;
	padding: 0.75rem;
	border-radius: 20px;
	border: none;
}

/* 725 */
@media only screen and (max-width: 725px){
	.headerContainer{
		flex-direction: column;
		gap: 1rem;
	}
}