*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}
#root {
  width: 80%;
  margin: 0 auto;

}

@media only screen and (max-width: 1200px){
  #root {
    width: 85%;
  }
}
@media only screen and (max-width: 600px){
  #root {
    width:90%;
  }
}
@media only screen and (max-width: 425px){
  #root {
    width:95%;
  }
}
